{
  "extends": [
    "react-app",
    "react-app/jest",
    "prettier"
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": true,
        "natural": false,
        "minKeys": 2
      }
    ],
    "react/jsx-sort-props": "error"
  },
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}